@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

html body {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	background: url('background.jpg') center center no-repeat #fff fixed;
	background-size: cover;
}

table {
	 width: 100%;
	text-align: center;
}

hr {
	width: 100%;
}

input[type=checkbox]{
	margin: 0 5px 2px;
	transform: translate(0, 2px);
}

input[type=text], input[type=password], select, select option {
	box-sizing: border-box;
	width: 100%;
	margin: 5px 0;
	padding: 1%;
	text-align: left;
}

input[type=radio] {
	margin: 0 -27px 2px 50%;
	transform: translate(-33px, 2px);
}

input[type=file] {
	max-width: 75%;
}

.x {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table.custom tr {
	position: relative;
}

table.custom tr td a.delete {
	position: absolute;
	top: 50%;
	transform: translate(-80px,-50%);
}

table th {
	background: #000;
	color: #fff;
	font-size: 24px;
}

div.wrapper {
	text-align: center;
	margin: 0 auto;
}

header a span {
	width: 50vw;
	font-size: 28px;
}